*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

:root {
  --row: 30;
  --col: var(--row);
}

.visible {
  height: 20px;
  width: 20px;
  /* border: 1px solid black; */
}

.root {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: royalblue;
}

#board {
  display: grid;
  background-color: red;
  margin: 1rem;
  grid-template-columns: repeat(var(--col), 20px);
  grid-template-rows: repeat(var(--row));
  border: 5px solid whitesmoke;
}

#audioButton {
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 7rem;
  width: 7rem;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.overlay__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
#resumeButton {
  margin-top: 50px;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  background-color: royalblue;
  transition: 0.4s all ease;
}
#resumeButton:hover {
  background-color: rgb(45, 74, 162);
}

.visible {
  display: flex !important;
}

.option {
  margin: 10px 0;
}

.info {
  color: whitesmoke;
}
